---
layout: default
title: Prefix Trees
breadcrumb:
- Home
- Prefix Trees
---

<h1>Prefix Trees</h1>

<p>Stats for grades on the Prefix Trees homework.</p>

<p><i class="fas fa-info fa-fw"></i> Homework overall stats are calculated on all latest grades (or latest traces, meaning the rightest column in the grades tables below).</p>

{% include table.html data = site.data.prefix_trees.overall %}

<h2>Grades</h2>

{% capture subject %}[Algostats] Data de-anonymization{% endcapture %}
{% capture message %}Hello,

I am <fullname or login> and I'd like all my grades — my data — to be de-anonymized and made public on {{ site.github.url }}.{% endcapture %}

<p>The grades are anonymized by default. If you want your data de-anonymized, <a href="mailto:mathieu.guerin@epita.fr?subject={{ subject | url_encode }}&body={{ message | url_encode }}">send a mail to us</a> from your @epita.fr email.</p>

{% include grades.html data = site.data.prefix_trees %}
